.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  justify-content: center;
  margin-top: 5%;
}

.skill-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18%;
  height: 20%;
  margin-top: 2%;
}

.skill-item > img {
  width: 75px;
  height: 75px;
  object-fit: contain;
}

.about {
  margin-top: 1%;
  text-align: justify;
  width: 50%;
  font-size: 15px;
}

@media only screen and (orientation: portrait) {
.about{
  width: 70%;
  font-size: 25px;
}

.skills{
  margin-top: 10%;
  width: 70%;
}

.skill-item > img {
  width: 90px;
  object-fit: contain;
}

}
