@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&family=Sacramento&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
body {
  background: white;
  color: rgb(82, 82, 82);
  font-family: "Montserrat", cursive;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  outline: none;
  color: inherit;

}

a:visited{
  text-decoration: none;
  outline: none;
  color: inherit;
}


.flex-row{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-col{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  top: 1%;
  left: 1%;
  position: relative;
}

.title {
  height: 40%;
  width: 50%;
  margin-left: 1%;
  font-size: 35px;
  font-family: "Sacramento", cursive;
}

.title>text{
  cursor: pointer;

}

.navmenu {
  width: 50%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 1%;
}

.small-menu {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 1em;
}

.small-menu > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.small-menu > div:hover {
/*  font-size: 1.1em;*/
  border-bottom: 1px solid rgb(67, 167, 224);
  padding-bottom: 1%;
}

.small-menu > div > text:hover{
  cursor: pointer;

}

.current{
  color:  rgb(67, 167, 224);
  
}

.contact{
  margin-right: 2%;
}

.content {
  width: 100%;
  height: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.box{
  border:transparent 1px black;
  border-radius: 10px;
  width: 50%;
  height: 60%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

.border-small{
  margin-top: 0.5%;
  width: 5ex;
  border-bottom: 1px solid rgb(67,167,224);
}

.icons{
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
  width: 40%;
}

.small-icon{
  margin-left: 6%;
  width: 15%;
  object-fit: cover;
  cursor: pointer;
}


.image-icon{
  width: 100%;
  object-fit: cover;
  transition: background-color 0.5s,transform 0.2s;
}

.image-icon:hover{
  background-color: rgba(67, 166, 224);
  transform: scale(1.1);
}

@media only screen and (orientation: portrait) {
  .navmenu {
    width: 90%;
    font-size: 1.2em;
  }

  .small-menu{
    width: 100%;
  }

  .box{
    height: 25%;
  }
}